@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/backgrounds/background.webp);
    background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed;
    padding: 0 90px;
}

:root {
    --white: #ffffff;
    --black: #000000;

    --white-20: #ffffff33;
    --white-40: #ffffff66;
    --white-60: #ffffff99;
    --white-80: #ffffffcc;

    --black-10: #0000001a;
    --black-20: #00000033;
    --black-40: #00000066;
    --black-50: #00000080;
    --black-60: #00000099;
    --black-80: #000000cc;

    --gray-super-light: #f1f1f1;
    --gray-light: #dddddd;
    --gray-light-shade: #d7d7d7;
    --gray-mid-light: #cccccc;
    --gray: #888;
    --gray-dark: #767676;

    --microsoft-red: #f65314;
    --microsoft-green: #7cbb00;
    --microsoft-blue: #00a1f1;
    --microsoft-yellow: #ffbb00;

    --focus-color: #2f5de6;
    --radio-color: #00809d;
}

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: fixed;
    z-index: 5000;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
}

header .header-left a {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--white-80);
}

header .header-left a:hover {
    color: var(--white);
}

.header-left img {
    height: 17px;
}

header .header-left {
    display: flex;
    align-items: center;
    gap: 40px;
}


/* main dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--black-20);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a:first-child,
.dropdown-submenu-content a:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-content a:last-child,
.dropdown-submenu-content a:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-content a {
    color: var(--black-80) !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--gray-super-light);
    color: var(--black) !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .reis {
    border-bottom: 1px solid var(--gray-light);
}

.dropdownBtn {
    cursor: pointer;
    color: var(--white);
    height: 1rem;
    padding: 5px 10px;
    margin-left: -10px;
}

.item-m:hover {
    border-bottom-left-radius: 5px;
}

/* sub dropdown */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--black-20);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-submenu:hover .dropdown-submenu-content {
    display: block;
}

.dropdown-submenu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* left dropdown */
.dropdown-bars {
    position: relative;
    display: inline-block;
}

.dropdown-bars-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 320px;
    max-height: 93.6vh;
    overflow-y: scroll;
    box-shadow: 0px 8px 16px 0px var(--black-20);
    z-index: 1;
    border-radius: 5px;
    right: -10px;
    top: 40px;
    padding-top: 10px;
    scrollbar-width: thin;
    scrollbar-color: var(--gray) var(--gray-super-light);
}

.arrow.rotate {
    transform: rotate(180deg);
}

.dropdown-bars-content::-webkit-scrollbar {
    width: 8px;
}

.dropdown-bars-content::-webkit-scrollbar-track {
    background: var(--gray-super-light);
}

.dropdown-bars-content::-webkit-scrollbar-thumb {
    background-color: var(--gray); 
    border-radius: 10px;
    border: 2px solid var(--gray-super-light);
}

.dropdown-bars-content a {
    color: var(--black) !important;
    padding: 16px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.first-item {
    border-bottom: 1px solid var(--gray-light);
}

.last-item {
    border-bottom: 1px solid var(--gray-light);
}

.dropdown-bars-content a:last-child:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-bars-content a:hover {
    background-color: var(--gray-super-light);
    color: var(--black-80);
}

.dropdown-bars-content i:not(.fa-chevron-down) {
    color: var(--gray);
    margin-right: 16px;
    height: 1rem;
    font-size: 1.1rem;
    transform: scale(0.9);
}

.dropdown-bars-content .fa-chevron-down {
    margin-left: auto;
    margin-right: 8px;
    font-size: 1rem;
    color: var(--black-50);
}

.dropdown-bars-content .side-text {
    font-size: 0.8rem;
    margin: 0 8px 0 auto;
    color: var(--black-50);
}

.privacy {
    color: var(--gray);
    font-size: 0.8rem;
    margin-left: 16px;
    line-height: 1.2;
    cursor: pointer;
}

.privacy span:hover {
    text-decoration: underline;
    background: var(--gray-super-light);
}

.dropdown-sub-sub-content {
    display: none;
}

.rotate-180 {
    transform: rotate(180deg);
}

.show {
    display: block;
}

.copilot-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.bing-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--white);
    font-weight: 500;
    font-size: 1.2rem;
    margin-right: 30px;
}

.microsoft-logo {
    display: grid;
    grid-template-columns: repeat(2, 8px);
    grid-template-rows: repeat(2, 8px);
    gap: 4px;
}

.square {
    width: 10px;
    height: 10px; 
}

.red {
    background-color: var(--microsoft-red);
}

.green {
    background-color: var(--microsoft-green);
}

.blue {
    background-color: var(--microsoft-blue);
}

.yellow {
    background-color: var(--microsoft-yellow);
}

.profile-img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: var(--black);
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: 25px;
}

.header-right .fa-bars {
    color: var(--white);
    font-size: 1.3rem;
    padding: 5px;
    cursor: pointer;
}

.header-right .fa-trophy {
    color: var(--white);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid var(--white-40); /* Base transparent border */
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 4px 2px 0 3px;
}

.header-right .aanmelden,
.header-right .rewards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-right a {
    color: var(--white);
    text-decoration: none;
    font-size: 0.8rem;
}

.padding-area {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: calc(14% + 50px);
    background-image: inherit;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
    z-index: 3;
}

.search-container {
    position: sticky;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: top 0.2s ease;
    width: 100%;
    max-width: 750px;
    background: var(--white-80);
    box-shadow: 0 2px 4px var(--black-10);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container .copilot-link {
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background-color: var(--white);
    background-image: url(../assets/copilot.webp);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}


.search-container i,
.search-container img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1.3rem;
    color: var(--focus-color);
    cursor: pointer;
}

.search-container .fa-magnifying-glass {
    left: 20px;
    color: var(--gray);
}

.search-container input {
    padding-left: 50px;
    padding-right: 90px;
    width: 50vw;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 0.95rem;
    box-sizing: border-box;
}

.search-container input:focus {
    border-radius: 12px;
    box-shadow: inset 0 0 0 1px var(--focus-color);
}

.search-container .fa-microphone {
    right: 90px;
}

.search-container .lens {
    right: 55px;
    width: 20.8px;
    height: 20.8px;
}

.search-container .fa-keyboard {
    right: 20px;
}

.settings {
    display: flex;
    flex-wrap: wrap;
}

.settings p {
    margin: 2px 0 0 32px;
    width: 100%;
    color: var(--black-80);
}

.settings .text-sub {
    color: var(--black-10);
    margin-top: 8px;
}

.lab-item {
    width: 80%;
    background-color: var(--gray-super-light);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    border-radius: 5px;
}

.lab-item p {
    margin: 0;
}

.lab-inputone,
.lab-inputtwo {
    margin-left: 40px;
}

/* Style the radio button itself */
input[type="radio"]:checked {
    accent-color: var(--radio-color);
}

.labs-text {
    font-size: 0.7rem;
}

.lab-item input[type="radio"] {
    height: 10px;
    transform: scale(1.5);
    margin-right: 12px;
    cursor: pointer;
}

.custom-inputone,
.custom-inputtwo,
.custom-inputthree {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-item input[type="radio"] {
    height: 10px;
    transform: scale(1.6);
    cursor: pointer;
}

.custom-item .fa-newspaper {
    margin-left: auto;
}

/* Style the switch container */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-mid-light);
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: var(--white);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--radio-color);
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.custom-item .custom-inputone,
.custom-item .custom-inputtwo,
.custom-item .custom-inputthree,
.custom-item .custom-inputfour {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--black);
    padding-left: 50px;
}

.custom-item .custom-inputone:hover,
.custom-item .custom-inputtwo:hover,
.custom-item .custom-inputthree:hover,
.custom-item .custom-inputfour:hover {
    background-color: var(--gray-super-light);
}

/* background switcher */
.background-switcher {
    position: absolute;
    top: 41%;
    right: 170px;
    transform: translateY(-50%);
    display: flex;
    gap: 5px;
}

.background-switcher button {
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: var(--black-80);
    color: var(--white);
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-switcher i:not(.fa-location-dot) {
    font-size: 1.2rem;
    color: var(--white-80);
    transition: color 0.2s;
}

.background-switcher button:hover i:not(.fa-location-dot) {
    color: var(--white); /* Change this to your desired hover color */
}

.background-switcher button span {
    margin-left: 10px;
    font-size: 0.9rem;
}

/* item slider */
.item-slider {
    display: flex;
    align-items: center;
    position: relative;
    top: 46%;
    transform: translate(0, -50%);
    width: 100%;
    overflow: hidden;
}

.slider-container {
    overflow: hidden;
    width: 91.4%;
    margin: 0 auto;
}

.slider-track {
    display: flex;
    transition: transform 0.2s ease-in-out;
}

.slider-item {
    min-width: calc(100% / 8); /* 8 items visible at a time */
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-item:last-child {
    margin-right: 0;
}

.item-title {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 10px 12px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 0.8rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.slider-item img {
    width: 100%;
    height: auto;
    display: block;
    z-index: -1;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    aspect-ratio: 50 / 24;
}

.slider-button {
    background-color: transparent;
    border: none;
    color: var(--white);
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slider-button i {
    font-size: 2rem;
}

#prevItem {
    left: 0;
}

#nextItem {
    right: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 40px 13px 13px 13px;
    position: relative;
    top: 41%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white-60);
    border-radius: 10px;
    width: 92%;
}

.card {
    background-color: var(--white);
    text-align: left;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--black-10);
    transition: all 0.2s ease;
    position: relative;
}

.card:first-child::before {
    content: "ONTDEKKEN";
    position: absolute;
    top: -28px;
    left: 0;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--black-80);
}
.card:hover {
    box-shadow: 0 4px 10px var(--black-40);
}

.card:not(.span-2) {
    aspect-ratio: 1;
}

.span-2 {
    grid-column: span 2;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
    padding: 0 20px;
    overflow: hidden;
}

.card:not(.span-2) img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.span-2 .card-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 15px;
    position: absolute;
    bottom: 40px;
}

.card-footer span {
    font-family: 'Roboto', sans-serif;
}

.span-2 .card-footer {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    margin-bottom: 15px;
    color: var(--white);
    margin-left: 0;
}


.card:not(.span-2) .card-title {
    margin: 0 15px;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--black-80);
}

.card .upload-time {
    font-size: 0.8rem;
    margin: 5px 15px;
    font-weight: 300;
}

.card-footer {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    margin-bottom: 15px;
    margin-left: 15px;
    position: absolute;
    bottom: 5px;
}

.span-2 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.card-footer i {
    cursor: pointer;
    font-size: 0.9rem;
    user-select: none;
}

.card:hover img,
.span-2:hover {
    filter: brightness(0.95);
}
.span-id-2 {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.span-id-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 10%, var(--black-60));
    border-radius: inherit;
    pointer-events: none;
}

.span-id-2::before {
    background: linear-gradient(transparent 10%, var(--black-50));
}

.display-items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.items-wrapper {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.items-wrapper h3 {
    margin-top: 0;
}

.items-row {
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.items-row li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.input-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.check {
    display: flex;
    align-items: center;
}

.general-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 50px;
}

.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    left: 0;
    position: absolute;
    background-color: var(--gray-super-light);
}

.signin-form {
    background-color: var(--white);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.signin-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--black-80);
}

.signin-form input[type="text"],
.signin-form input[type="password"],
.signin-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--gray-light);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

.signin-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--focus-color);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.signin-form button:hover {
    background-color: #2f5de6;
}

.signin-form .error {
    color: var(--microsoft-red);
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.signin-form a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: var(--black);
    text-decoration: none;
    font-size: 1rem;
}

.signin-form span {
    color: var(--focus-color);
}

.signin-form span:hover {
    text-decoration: underline;
}